REDIS_PASSWORD=123qwe
REDIS_HOST=redis

ELASTIC_SCHEMA=film
ELASTIC_USERNAME=elastic
ELASTIC_PASSWORD=123qwe
ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200

SRC_APP_HOST=app-api

PG_NAME=name
PG_USER=user
PG_PASSWORD=password
PG_PORT=5432
PG_HOST=postgres
